@import '../../assets/fonts/fonts.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
}

body{
    font-family: 'YS Text', sans-serif;
}

a{
    color: #096dd9;
    text-decoration: none;
}

a:hover{
    color: #40a9ff;
}
